$React: "React";
$Sass: "Sass";
$Svg: "Svg";

$AndroidIcon: "AndroidIcon";
$Apple: "Apple";
$AppleAppStore: "AppleAppStore";
$Babel: "Babel";
$Bluetooth: "Bluetooth";
$Chrome: "Chrome";
$CodepenIcon: "CodepenIcon";
$CodesandboxIcon: "CodesandboxIcon";
$Css3: "Css3";
$DiscordIcon: "DiscordIcon";
$Dropbox: "Dropbox";
$Facebook: "Facebook";
$Figma: "Figma";
$Firefox: "Firefox";
$GithubIcon: "GithubIcon";
$GitIcon: "GitIcon";
$GoogleCalendar: "GoogleCalendar";
$GoogleCloud: "GoogleCloud";
$GoogleDrive: "GoogleDrive";
$GoogleGmail: "GoogleGmail";
$GoogleIcon: "GoogleIcon";
$GoogleMaps: "GoogleMaps";
$GoogleMeet: "GoogleMeet";
$GooglePhotos: "GooglePhotos";
$GooglePlayIcon: "GooglePlayIcon";
$GravatarIcon: "GravatarIcon";
$Html5: "Html5";
$InstagramIcon: "InstagramIcon";
$IntellijIdea: "IntellijIdea";
$Internetexplorer: "Internetexplorer";
$Ios: "Ios";
$Javascript: "Javascript";
$Jenkins: "Jenkins";
$Jsfiddle: "Jsfiddle";
$Markdown: "Markdown";
$MicrosoftEdge: "MicrosoftEdge";
$Mozilla: "Mozilla";
$NodejsIcon: "NodejsIcon";
$NpmIcon: "NpmIcon";
$Opera: "Opera";
$Preact: "Preact";
$Prettier: "Prettier";
$Redux: "Redux";
$Safari: "Safari";
$SlackIcon: "SlackIcon";
$StackoverflowIcon: "StackoverflowIcon";
$StorybookIcon: "StorybookIcon";
$Terminal: "Terminal";
$TiktokIcon: "TiktokIcon";
$Twitter: "Twitter";
$TypescriptIcon: "TypescriptIcon";
$Webpack: "Webpack";
$Wifi: "Wifi";
$YoutubeIcon: "YoutubeIcon";
