@use "." as *;

$background-image: linear-gradient(180deg, #eee 0%, #888 100%);

// plane
.plane {
  @include show(null, 56px);
}

.plane-fill {
  @include show(null, 56px, #00f);
}

// circle
.circle {
  @include show-circle(null, 56px, #ddd);
}

.circle-fill {
  @include show-circle(null, 56px, #ddd, #00f);
}

.circle-border {
  @include show-circle(null, 56px, #ddd, $border-width: 4px);
}

.circle-fill-border {
  @include show-circle(null, 56px, #ddd, #00f, $border-width: 4px);
}

// square
.square {
  @include show-square(null, 56px, $background-image: $background-image);
}

.square-fill {
  @include show-square(
    null,
    56px,
    $background-image: $background-image,
    $fill-color: #00f
  );
}

.square-border {
  @include show-square(
    null,
    56px,
    $border-width: 4px,
    $background-image: $background-image
  );
}

.square-fill-border {
  @include show-square(
    null,
    56px,
    $border-width: 4px,
    $background-image: $background-image,
    $fill-color: #00f
  );
}
