@use "." as *;

$background-image: linear-gradient(180deg, #eee 0%, #888 100%);

// plane
.plane {
  @include show($StorybookIcon, 56px);
}

.plane-fill {
  @include show($React, 56px, #00f);
}

// circle
.circle {
  @include show-circle($StorybookIcon, 56px, #ddd);
}

.circle-fill {
  @include show-circle($React, 56px, #ddd, #00f);
}

.circle-border {
  @include show-circle($StorybookIcon, 56px, #ddd, $border-width: 4px);
}

.circle-fill-border {
  @include show-circle($React, 56px, #ddd, #00f, $border-width: 4px);
}

// square
.square {
  @include show-square($StorybookIcon, 56px, $background-image: $background-image);
}

.square-fill {
  @include show-square(
    $React,
    56px,
    $background-image: $background-image,
    $fill-color: #00f
  );
}

.square-border {
  @include show-square(
    $StorybookIcon,
    56px,
    $border-width: 4px,
    $background-image: $background-image
  );
}

.square-fill-border {
  @include show-square(
    $React,
    56px,
    $border-width: 4px,
    $background-image: $background-image,
    $fill-color: #00f
  );
}
